<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default('Financial Document Generator') }} - FinGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('generate_check_route') }}">Generate Check</a>
        <a href="{{ url_for('generate_check_stub_route') }}">Generate Check Stub</a>
        <a href="{{ url_for('generate_bank_statement_route') }}">Generate Bank Statement</a>
        <a href="{{ url_for('generate_w2_route') }}">Generate W-2 Form</a>
        <a href="{{ url_for('generate_income_statement_route') }}">Generate Income Statement</a>
        <a href="{{ url_for('convert_pdf_to_png_route') }}">PDF to PNG Converter</a>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=messages>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <p>&copy; 2023-2024 Financial Document Generator</p>
    </footer>
</body>
</html>
